# How to select dataframe subsets from multivariate data

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.set_option("display.max_columns", 100)

In [4]:
df = pd.read_csv("nhanes_2015_2016.csv")

In [5]:
df.head()

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,DMDMARTL,DMDHHSIZ,WTINT2YR,SDMVPSU,SDMVSTRA,INDFMPIR,BPXSY1,BPXDI1,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,1.0,2,134671.37,1,125,4.39,128.0,70.0,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,3.0,1,24328.56,1,125,1.32,146.0,88.0,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,1.0,2,12400.01,1,131,1.51,138.0,46.0,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,6.0,1,102718.00,1,131,5.00,132.0,72.0,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,3.0,5,17627.67,2,126,1.23,100.0,70.0,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

## 只保留名称中带有 BMX 的列

In [7]:
# 获取列的名称
col_names = df.columns
col_names

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

* 方法一

In [8]:
# 方法1：从上面的输出中复制
keep = ['BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST']

* 方法二

In [10]:
# [keep x for x in list if condition met]
keep = [column for column in col_names if "BMX" in column]

In [11]:
df_BMX = df[keep]

In [12]:
df_BMX.head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [13]:
df.loc[:, keep].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [15]:
index_bool = np.isin(df.columns, keep)

In [16]:
index_bool

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False])

In [17]:
df.iloc[:, index_bool].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
4   55.2  164.9    20.3    37.4     36.0     27.2      80.4

In [18]:
waist_median = pd.Series.median(df_BMX["BMXWAIST"])

In [19]:
waist_median

98.3

In [20]:
df_BMX[df_BMX["BMXWAIST"] > waist_median].head()

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
0   94.8  184.5    27.8    43.3     43.6     35.9     101.1
1   90.4  171.4    30.8    38.0     40.0     33.2     107.9
2   83.4  170.1    28.8    35.6     37.0     31.0     116.5
3  109.8  160.9    42.4    38.5     37.7     38.3     110.1
9  108.3  179.4    33.6    46.0     44.1     38.5     116.0

In [21]:
condition1 = df_BMX["BMXWAIST"] > waist_median
condition2 = df_BMX["BMXLEG"] < 32
df_BMX[condition1 & condition2].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [22]:
df_BMX.loc[condition1 & condition2, :].head()

    BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
15   80.5  150.8    35.4    31.6     32.7     33.7     113.5
27   75.6  145.2    35.9    31.0     33.1     36.0     108.0
39   63.7  147.9    29.1    26.0     34.0     31.5     110.0
52  105.9  157.7    42.6    29.2     35.0     40.7     129.1
55   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [23]:
tmp = df_BMX.loc[condition1 & condition2, :].head()
tmp.index = ["a", "b", "c", "d", "e"]
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8    35.4    31.6     32.7     33.7     113.5
b   75.6  145.2    35.9    31.0     33.1     36.0     108.0
c   63.7  147.9    29.1    26.0     34.0     31.5     110.0
d  105.9  157.7    42.6    29.2     35.0     40.7     129.1
e   77.5  148.3    35.2    30.5     34.0     34.4     107.6

In [24]:
tmp.loc[["a", "b"], "BMXLEG"]

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

In [25]:
tmp.iloc[[0, 1], 3]

a    31.6
b    31.0
Name: BMXLEG, dtype: float64

In [34]:
try:
    tmp[:, "BMXBMI"]
except TypeError:
    print("Type error")

Type error

In [35]:
tmp.loc[:, "BMXBMI"]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [37]:
tmp.loc[:, "BMXBMI"].values

array([35.4, 35.9, 29.1, 42.6, 35.2])

In [39]:
try:
    tmp.iloc[:, "BMXBMI"]
except ValueError:
    print("Value Error")

Value Error

In [40]:
tmp.iloc[:, 2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [43]:
try:
    tmp.loc[:, 2]
except TypeError:
    print("Type Error")

Type Error

In [44]:
tmp.loc[:, [False, False, True] + [False] * 4]

   BMXBMI
a    35.4
b    35.9
c    29.1
d    42.6
e    35.2

In [45]:
tmp.iloc[:, 2]

a    35.4
b    35.9
c    29.1
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [48]:
tmp.iloc[0:3, 2] = [0] * 3
tmp.iloc[:, 2]

a     0.0
b     0.0
c     0.0
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [49]:
tmp.loc["a" : "c", "BMXBMI"] = [1] * 3
tmp.loc[:, "BMXBMI"]

a     1.0
b     1.0
c     1.0
d    42.6
e    35.2
Name: BMXBMI, dtype: float64

In [50]:
tmp["BMXBMI"] = range(0, 5)

In [51]:
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [52]:
tmp[tmp.BMXBMI > 2]["BMXBMI"] = [10] * 2
tmp

<ipython-input-52-62e35f6b02ef>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp[tmp.BMXBMI > 2]["BMXBMI"] = [10] * 2

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7       3    29.2     35.0     40.7     129.1
e   77.5  148.3       4    30.5     34.0     34.4     107.6

In [53]:
tmp.loc[tmp.BMXBMI > 2, "BMXBMI"] = [10] * 2

In [54]:
tmp

   BMXWT  BMXHT  BMXBMI  BMXLEG  BMXARML  BMXARMC  BMXWAIST
a   80.5  150.8       0    31.6     32.7     33.7     113.5
b   75.6  145.2       1    31.0     33.1     36.0     108.0
c   63.7  147.9       2    26.0     34.0     31.5     110.0
d  105.9  157.7      10    29.2     35.0     40.7     129.1
e   77.5  148.3      10    30.5     34.0     34.4     107.6