# Assignment 3

## Question 1
### step1
* 下载 `Energy+Indicators.xls`，该文件是联合国 2013 年能源供应和可再生电力生产的指标清单
* 应将其放入变量名为 `energy` 的 DataFrame 中
  * 注意，这是一个 Excel 文件，而不是 CSV 文件
  * 请确保将数据文件中的页眉、页脚信息排除在外
  * 前两列是不需要的，所以应该去掉
  * 应该改变列标签，使列是 ["Country", "Energy Supply", "Energy Supply per Capita", "% Renewable"]
* 将 "Energy Supply" 转换为千兆焦耳gigajoules（1,000,000 gigajoules = 1 petajoule）
* 对所有数据缺失的国家（例如：带有...字样的数据），确保其反映为 np.NaN 值
* 给下面清单中的国家重命名（供之后的问题使用）：

  "Republic of Korea": "South Korea",

  "United States of America": "United States",

  "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",

  "China, Hong Kong Special Administrative Region": "Hong Kong"
* 还有一些国家的名称中带有数字/括号，请删除这些数字/括号

  * 'Bolivia (Plurinational State of)'应改为'Bolivia'

  * 'Switzerland17'应改为'Switzerland'
  
### step2
* 下载 `world_bank.csv` ，从中获取 GDP 数据，该文件是一个 CSV 文件，包含了从世界银行获取的 1960-2015 年各个国家的 GDP
* 将其放入变量名为 `GDP` 的 DataFrame 中
* 务必跳过标题
* 重命名以下国家

  "Korea, Rep.": "South Korea", 
  
  "Iran, Islamic Rep.": "Iran",
  
  "Hong Kong SAR, China": "Hong Kong"
  
### step3
* 下载 `scimagojr-3.xlsx`，从中获取能源工程与动力技术的 Scimago 期刊和国家排名数据，该数据根据各国在上述领域的期刊贡献进行排名
* 将其放入变量名为 `ScimEn` 的 DataFrame 中
* 将 GDP、Energy、ScimEn组成一个新的数据集，使用国家名称作为交叉点
* 只使用过去 10 年（2006-2015 年）的 GDP 数据，并且只使用 Scimagojr 排名前 15 名的国家
* 这个 DataFrame 的索引应该是国家的名称，列应该是
   ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
### def answer_one() 
  这个函数应该返回一个有 20 列和 15 个条目的 DataFrame

In [64]:
import pandas as pd
import numpy as np

In [65]:
#读取energy
#去掉不需要的信息
energy = pd.read_excel("Energy+Indicators.xls")
energy = energy.iloc[17:244,2:]
#改变colunms label
energy.columns = ["Country", "Energy Supply", "Energy Supply per Capita", "% Renewable"]
#转换单位
energy["Energy Supply"] *= 1000000
#缺失值处理
#df.where(cond, other=nan,inplace=False,axis=None,level=None,errors="raise",try_cast=False)
#df.where 将条件为False的部分替换
#cond参数，当cond为True，保持原有值，当cond为False，替换为other值
#other参数，当cond为False时替换为other
energy.where(energy != "...", np.NaN)
#重命名
energy["Country"] = energy["Country"].replace("Republic of Korea", "South Korea")
energy["Country"] = energy["Country"].replace("United States of America", "United States")
energy["Country"] = energy["Country"].replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom")
energy["Country"] = energy["Country"].replace("China, Hong Kong Special Administrative Region", "Hong Kong")

#删除数字、括号
energy.Country = energy.Country.str.replace(r" \(.*\)", "")
energy.Country = energy.Country.str.replace(r"[0-9]", "")
energy.head(217)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321000000,10,78.6693
18,Albania,102000000,35,100
19,Algeria,1959000000,51,0.55101
20,American Samoa,.................................................,...,0.641026
21,Andorra,9000000,121,88.6957
...,...,...,...,...
229,Ukraine,4844000000,107,8.06731
230,United Arab Emirates,2710000000,300,0
231,United Kingdom of Great Britain and Northern I...,7920000000,124,10.6005
232,United Republic of Tanzania,994000000,20,31.0728
233,United States of America,90838000000,286,11.571

In [66]:
#读取GDP
GDP = pd.read_csv("world_bank.csv", skiprows = 4)
#重命名
GDP["Country Name"] = GDP["Country Name"].replace("Korea, Rep.", "South Korea")
GDP["Country Name"] = GDP["Country Name"].replace("Iran, Islamic Rep.", "Iran")
GDP["Country Name"] = GDP["Country Name"].replace("Hong Kong SAR, China", "Hong Kong")
#选取部分column并修改Country Name为Country
GDP = GDP[["Country Name", '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
GDP.columns = ["Country", '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
GDP.head(110)

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10
...,...,...,...,...,...,...,...,...,...,...,...
105,Isle of Man,4.109333e+09,4.415768e+09,4.850663e+09,4.953844e+09,5.420292e+09,5.681266e+09,6.036319e+09,6.307562e+09,NaN,NaN
106,India,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
107,Not classified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Ireland,2.249653e+11,2.374346e+11,2.323003e+11,2.192023e+11,2.200761e+11,2.257719e+11,2.261131e+11,2.293562e+11,2.412813e+11,2.601287e+11
109,Iran,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN

In [67]:
#读取ScimEn
ScimEn = pd.read_excel("scimagojr-3.xlsx")
#将Rank前15的存入ScimEn1
ScimEn1 = ScimEn[:15]
energy.head(217)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
17,Afghanistan,321000000,10,78.6693
18,Albania,102000000,35,100
19,Algeria,1959000000,51,0.55101
20,American Samoa,.................................................,...,0.641026
21,Andorra,9000000,121,88.6957
...,...,...,...,...
229,Ukraine,4844000000,107,8.06731
230,United Arab Emirates,2710000000,300,0
231,United Kingdom of Great Britain and Northern I...,7920000000,124,10.6005
232,United Republic of Tanzania,994000000,20,31.0728
233,United States of America,90838000000,286,11.571

In [68]:
#合并ScimEn1、energy、GDP
df0 = pd.merge(ScimEn1, energy, on = "Country")
df = pd.merge(df0, GDP, on = "Country")
df = df.set_index("Country")
df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,127191000000,93,19.7549,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
Japan,3,30504,30287,223024,61554,7.31,134,18984000000,149,10.2328,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,30709000000,214,17.2887,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,10431000000,296,61.9454,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,13261000000,165,17.9015,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12

## Question2